:root {
  --orange-color: #ef6f31;
  --lightblue-color: #6ac5f1;
  --lightgrey-color: #f5f5f5;
  --dark-color: #333333;
  --white-color: #ffffff;
  --blu-color: #1972f5;
}

/**********
 GENERICS
***********/
ul {
  list-style: none;
}

.section-title {
  margin: 0 auto;
  /* debug */
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

.em-title {
  display: block;
  color: var(--lightblue-color);
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  text-align: center;
}

.my-primary-btn {
  background-color: var(--orange-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 0.8rem;
  width: 35%;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0.8rem 0;
}

.my-primary-btn:hover {
  background-color: var(--lightblue-color);
}

/**********
 HEADER
***********/

/* COUNTDONW */
header #countdown {
  height: 50px;
  background-color: var(--lightgrey-color);
}

header #countdown ul {
  height: 100%;
}

header #countdown li {
  /* debug */
  border: 1px solid black;
  height: 50%;
  width: 40px;
}

/* NAVBAR */
header {
  position: relative;
  z-index: 1;
}

.header-navbar {
  height: 80px;
  background-color: #fff;
}

.header-navbar * {
  /* debug */
  height: 50%;
  width: 60px;
  border: 1px solid black;
}

/**********
 MAIN
***********/

/* JUMBOTRON - GET STARTED*/
.jumbotron {
  background-color: #fbf9f6;
  height: 75vh;
  position: relative;
}

.jumbotron .jumbotron-text {
  margin: auto;
  height: 100%;
  width: 500px;
}

.jumbotron .jumbotron-icon {
  /* width: 30px; */
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 40px;
}

.jumbotron .jumbotron-icon i {
  cursor: pointer;
}

/* IMAGE COORDINATES */
.jumbotron img {
  position: absolute;
}

/* LEFT SIDE */
.jumbotron img.left-artist-shape-01 {
  left: -10%;
  top: -39%;
}

.jumbotron img.artist-hero-image-01 {
  height: 40%;
  bottom: 50px;
  left: 100px;
  z-index: 2;
}

.jumbotron img.artist-shape-03 {
  height: 70%;
  top: 20%;
}

.jumbotron img.artist-hero-image-02 {
  height: 50%;
  bottom: 250px;
  left: 250px;
  z-index: 1;
}

.jumbotron img.artist-hero-image-03 {
  height: 50%;
  bottom: 20px;
  left: 350px;
}

/* RIGHT SIDE */
.jumbotron img.right-artist-shape-01 {
  height: 90%;
  right: 160px;
}

.jumbotron img.artist-hero-04 {
  height: 60%;
  right: 200px;
  bottom: 50px;
  z-index: 1;
}

.jumbotron img.artist-shape-04 {
  height: 40%;
  right: 140px;
  top: 50px;
}

.jumbotron img.artist-shape-05 {
  height: 30%;
  right: 140px;
  bottom: 0;
}

.jumbotron img.maxcoach-shape-12 {
  height: 30%;
  right: 280px;
  bottom: 30px;
}

/* SECTION - COACHING */
/* debug */
#coaching .col-2,
#coaching .col-3,
#coaching .col-5,
#coaching .col-6 {
  height: 200px;
  border: 1px solid black;
}

/* SECTION - TESTIMONINALS */
#testimonials {
  background-color: #faf8f6;
}

#testimonials .row .col-4 .testimonial-card {
  padding: 1rem;
  /* debug */
  height: 150px;
  border: 1px solid red;
}

/* SECTION - COURSES */
#courses .course-card {
  padding: 1rem;
  /* debug */
  height: 150px;
  border: 1px solid black;
}

#courses .col-1 {
  /* debug */
  height: 300px;
  border: 1px solid red;
}

/* SECTION - BLOG */
#blog {
  background-color: #f5f7fa;
}

#blog .blog-card {
  /* debug */
  padding: 1rem;
  border: 1px solid black;
  height: 150px;
}

#blog .blog-main-card {
  /* debug */
  padding: 1rem;
  border: 1px solid red;
  height: 300px;
}

/* SECTION - EVENTS */
#events .col-5 {
  /* debug */
  border: 1px solid black;
  height: 200px;
}

/* SECTION - CONTACT-US */
#contact_us {
  background-color: #244186;
  height: 150px;
}

#contact_us div {
  /* debug */
  height: 80px;
  border: 1px solid white;
}

/* debug */
#contact_us .text {
  width: 150px;
}

#contact_us .insert-email {
  width: 400px;
}

/**********
 FOOTER
***********/
footer .row .col-4 *,
footer .row .col-2 * {
  /* debug */
  height: 150px;
  border: 1px solid black;
}
