:root {
  --orange-color: #ef6f31;
  --lightblue-color: #6ac5f1;
  --lightgrey-color: #f5f5f5;
  --dark-color: #333333;
  --white-color: #ffffff;
  --blu-color: #1972f5;
}

/**********
 GENERICS
***********/
body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.section-title {
  margin: 0 auto;
  width: 500px;
}

.em-title {
  display: block;
  color: var(--lightblue-color);
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
  text-align: center;
}

.my-btn {
  font-weight: bold;
  font-size: 0.8rem;
  width: 35%;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0.8rem 0;
}

.my-primary-btn {
  background-color: var(--orange-color);
  color: var(--white-color);
}

.my-outlined-btn {
  color: var(--orange-color);
  background-color: #fdf1eb;
}

.my-primary-btn:hover {
  background-color: var(--lightblue-color);
}

.my-outlined-btn:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
}

.my-small-text {
  font-size: 0.8rem;
  color: #666;
}

.icon-list i {
  color: #666;
  cursor: pointer;
}

.circle {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 8px solid #ecc5ab;
}

.flex-column .vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 8rem;
  margin-top: 5rem;
  color: #fff;
  text-shadow: -1px 0 var(--orange-color), 0 1px var(--orange-color),
    1px 0 var(--orange-color), 0 -1px var(--orange-color);
}

/**********
 HEADER
***********/

/* COUNTDONW */
header #countdown {
  height: 50px;
  background-color: var(--lightgrey-color);
}

header #countdown div.d-flex {
  height: 100%;
}

#countdown .my-small-text {
  font-size: 0.7rem;
}

#countdown span.ms-3 {
  color: #3f3a64;
  font-size: 0.9rem;
  font-weight: 600;
}

#countdown .my-btn {
  width: 15%;
  margin-left: 2rem;
  padding: 0.3rem;
}

/* NAVBAR */
header {
  position: relative;
  z-index: 1;
}

.header-navbar {
  height: 80px;
  background-color: #fff;
}

.header-navbar .header-logo img {
  width: 50%;
}

.header-navbar .link-list li i {
  font-size: 0.5rem;
  cursor: pointer;
}

.header-navbar .link-list li a {
  color: inherit;
  text-decoration: none;
}

/**********
 MAIN
***********/

/* JUMBOTRON - GET STARTED*/
.jumbotron {
  background-color: #fbf9f6;
  height: 75vh;
  position: relative;
}

.jumbotron .jumbotron-text {
  margin: auto;
  height: 100%;
  width: 500px;
  z-index: 4;
}

.jumbotron .jumbotron-icon {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 40px;
}

.jumbotron .jumbotron-icon i {
  cursor: pointer;
}

/*****************
IMAGES COORDINATES
******************/
.jumbotron img {
  position: absolute;
}

/* LEFT SIDE */
.jumbotron img.left-artist-shape-01 {
  left: -10%;
  top: -39%;
}

.jumbotron img.artist-hero-image-01 {
  height: 40%;
  bottom: 50px;
  left: 100px;
  z-index: 2;
}

.jumbotron img.artist-shape-03 {
  height: 70%;
  top: 20%;
}

.jumbotron img.artist-hero-image-02 {
  height: 50%;
  bottom: 250px;
  left: 250px;
  z-index: 1;
}

.jumbotron img.artist-hero-image-03 {
  height: 50%;
  bottom: 20px;
  left: 350px;
}

/* RIGHT SIDE */
.jumbotron img.right-artist-shape-01 {
  height: 90%;
  right: 160px;
}

.jumbotron img.artist-hero-04 {
  height: 60%;
  right: 200px;
  bottom: 50px;
  z-index: 1;
}

.jumbotron img.artist-shape-04 {
  height: 40%;
  right: 140px;
  top: 50px;
}

.jumbotron img.artist-shape-05 {
  height: 30%;
  right: 140px;
  bottom: 0;
}

.jumbotron img.maxcoach-shape-12 {
  height: 30%;
  right: 280px;
  bottom: 30px;
}

/* SECTION - COACHING */
#coaching .col-2 {
  position: relative;
  z-index: 1;
}
#coaching .row .col-2 .col-text p {
  font-size: 0.8rem;
  padding-top: 1rem;
}

#coaching .row .col-2 img {
  width: 50%;
}

#coaching .col-4 .em-title {
  transform: rotate(5deg);
}

#coaching .col-7 .box-video {
  position: relative;
  z-index: 1;
}

#coaching .col-7 .box-video .icon-yt-play {
  width: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#coaching .col-7 .box-video .circle {
  position: absolute;
  top: 60px;
  right: -50px;
}

/* IMAGES COORDINATES */
#coaching .maxcoach-shape-14 {
  position: absolute;
  top: 100px;
}

#coaching .artist-shape-01 {
  width: 35%;
  position: absolute;
  left: -100px;
  top: 25px;
  transform: rotate(-120deg);
}

#coaching .maxcoach-shape-13 {
  width: 150px;
  position: absolute;
  right: 0;
  top: 150px;
}

#coaching .maxcoach-shape-05 {
  position: absolute;
  top: -25px;
  left: -10px;
}

#coaching .maxcoach-shape-12 {
  width: 150px;
  position: absolute;
  bottom: -25px;
  right: -100px;
}

/* SECTION - TESTIMONINALS */
#testimonials {
  background-color: #faf8f6;
}

#testimonials .row .col-4 .testimonial-card {
  background-color: var(--white-color);
  padding: 1rem 2rem;
  opacity: 0.5;
}

#testimonials .row .col-4 .testimonial-card:hover {
  opacity: 1;
}

#testimonials .row .col-4 .testimonial-card img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

#testimonials .thumbs span {
  margin: 0 0.5rem;
  display: inline-block;
  background-color: #000;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

#testimonials .thumbs span:hover {
  opacity: 1;
  transform: scale(1.5);
}

/* SECTION - COURSES */
#courses .container {
  position: relative;
}

#courses .course-card {
  padding: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#courses .course-card:hover .course-card-text {
  border: 2px solid var(--orange-color);
  background-color: var(--white-color);
  position: absolute;
  bottom: -25%;
}

#courses .course-card .course-card-text .course-price {
  color: var(--orange-color);
}

#courses .my-btn {
  width: 15%;
}

/* IMAGES COORDINATES */
#courses .container .artist-shape-02 {
  width: 50%;
  position: absolute;
  left: -20%;
  bottom: 15%;
  transform: rotate(-35deg);
}

/* SECTION - BLOG */
#blog {
  background-color: #f5f7fa;
}

#blog .my-col {
  width: 280px;
  position: relative;
  z-index: 1;
}

#blog .my-col:first-child {
  margin-top: 6.5rem;
}

#blog .my-col img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#blog .blog-card {
  padding: 1rem;
  cursor: pointer;
}

#blog .card-text {
  background-color: var(--white-color);
  padding: 1.5rem 1rem;
}

#blog .blog-main-card {
  padding: 1rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

#blog .blog-main-card img {
  filter: brightness(80%);
}

#blog .main-card-text {
  padding: 0 1.5rem 2.5rem;
  color: #efefef;
  position: absolute;
  bottom: 0;
}

#blog .header-card-text {
  font-size: 0.9rem;
}

#blog .footer-card-text {
  font-size: 0.7rem;
}

#blog .text-center a {
  text-decoration: none;
  color: var(--orange-color);
  font-size: 0.8rem;
  font-weight: bold;
}

/* IMAGES COORDINATE */
#blog .maxcoach-shape-03 {
  position: absolute;
  top: 200px;
}

#blog .maxcoach-shape-12 {
  position: absolute;
  top: 170px;
  right: 53%;
}

#blog .circle {
  position: absolute;
  left: 200px;
  top: 180px;
}

/* SECTION - EVENTS */
#events .col-5 .events-card {
  height: 250px;
}

#events .col-5 .my-small-text.fw-light {
  font-size: 0.7rem;
}

/* IMAGE COORDINATE */
#events .vertical-text {
  position: absolute;
  left: 0;
  bottom: 50px;
}

#events .artist-shape-01 {
  position: absolute;
  bottom: -250px;
  left: -500px;
  transform: rotate(-150deg);
}

#events .maxcoach-shape-13 {
  position: absolute;
  right: 0;
  top: 100px;
}

/* SECTION - CONTACT-US */
#contact_us {
  background-color: #244186;
  height: 160px;
}

#contact_us .col-4 input {
  width: 100%;
  background-color: inherit;
  border: none;
}

#contact_us .col-4 i {
  color: var(--lightgrey-color);
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 1rem;
}

/* IMAGES COORDINATE */
#contact_us .artist-shape-left {
  width: 283px;
  position: absolute;
  left: 0;
  top: 0;
}

#contact_us .artist-shape-right {
  width: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Cambiare colore al placeholder */
#contact_us input[placeholder] {
  color: var(--lightgrey-color);
}

/* Per browser Safari, Chrome */
::-webkit-input-placeholder {
  color: var(--lightgrey-color);
}

/* Per browser Firefox */
::-moz-placeholder {
  color: var(--lightgrey-color);
  opacity: 1;
}

/**********
 FOOTER
***********/
footer .icon-list i {
  color: #aaa;
  font-size: 1.2rem;
  cursor: pointer;
}

footer ul li a {
  color: inherit;
  text-decoration: none;
}

footer ul li a:hover {
  color: var(--orange-color);
}

footer .col-4 a {
  color: var(--orange-color);
  text-decoration: none;
}

footer .copyright-text .my-small-text {
  color: #999;
  font-size: 0.6rem;
}

footer .footer-arrow {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--orange-color);
}

footer .footer-arrow a {
  color: var(--white-color);
}
