:root {
  --orange-color: #ef6f31;
  --lightblue-color: #6ac5f1;
  --lightgrey-color: #f5f5f5;
  --dark-color: #333333;
  --white-color: #ffffff;
  --blu-color: #1972f5;
}

/**********
 GENERICS
***********/
ul {
  list-style: none;
}

.section-title {
  margin: 0 auto;
  /* debug */
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

/**********
 HEADER
***********/

/* COUNTDONW */
header #countdown {
  height: 50px;
  background-color: var(--lightgrey-color);
}

header #countdown ul {
  height: 100%;
}

header #countdown li {
  /* debug */
  border: 1px solid black;
  height: 50%;
  width: 40px;
}

/* NAVBAR */
.header-navbar {
  height: 80px;
  background-color: #fff;
}

.header-navbar * {
  /* debug */
  height: 50%;
  width: 60px;
  border: 1px solid black;
}

/**********
 MAIN
***********/

/* JUMBOTRON - GET STARTED*/
.jumbotron {
  background-color: #fbf9f6;
  padding: 3rem;
}

.jumbotron .jumbotron-text {
  margin: 0 auto;
  /* debug */
  width: 300px;
  height: 300px;
  border: 1px solid red;
}

/* SECTION - COACHING */
/* debug */
#coaching .col-2,
#coaching .col-3,
#coaching .col-5,
#coaching .col-6 {
  height: 200px;
  border: 1px solid black;
}

/* SECTION - TESTIMONINALS */
#testimonials {
  background-color: #faf8f6;
}

#testimonials .row .col-4 .testimonial-card {
  padding: 1rem;
  /* debug */
  height: 150px;
  border: 1px solid red;
}

/* SECTION - COURSES */
#courses .course-card {
  padding: 1rem;
  /* debug */
  height: 150px;
  border: 1px solid black;
}

#courses .col-1 {
  /* debug */
  height: 300px;
  border: 1px solid red;
}

/* SECTION - BLOG */
#blog {
  background-color: #f5f7fa;
}

#blog .blog-card {
  /* debug */
  padding: 1rem;
  border: 1px solid black;
  height: 150px;
}

#blog .blog-main-card {
  /* debug */
  padding: 1rem;
  border: 1px solid red;
  height: 300px;
}
